<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>{% block title %}Inspector de Contratos{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {% block head_scripts %}{% endblock %}

    {% block styles %}{% endblock %}
</head>
<body>

    <nav class="navbar">
        <div class="nav-brand">
            <a href="/">LegalSearch</a>
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('home') }}">Inspector</a></li>
            <li><a href="{{ url_for('clasificador_page') }}">Clasificador</a></li>
            </ul>
    </nav>
    
    <div class="main-container-wrapper">
        <main class="main-container">
            {% block content %}
            {% endblock %}
        </main>
    </div>

    {% block body_scripts %}{% endblock %}

</body>
</html>